.CurrentWeather img {
  margin-left: 10px;
  margin-right: 30px;
  float: left;
  height: 70px;
  width: 70px;
  filter: drop-shadow(2px 2px 4px grey);
}

.CurrentWeather {
  font-size: 50px;
  margin: 1px;
  line-height: 1.5;
  font-weight: 500;
}

.CurrentWeather .Units {
  position: relative;
  font-size: 17px;
  top: -30px;
}

.WeatherDescription {
  font-weight: bold;
  text-align: center;
}
