.DayForecast {
  border: 2px solid #7047a3;
  opacity: 1;
  border-radius: 3px;
  margin-top: 40px;
  padding: 10px;
}
.DayForecast hr {
  padding: 0;
  margin: 0 10px;
  opacity: 0.5;
}
.ForecastInfo img {
  height: 55px;
  width: 55px;
  filter: drop-shadow(2px 2px 4px grey);
}
.ForecastInfo .Date {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #7047a3;
}
.ForecastInfo .MaxTemp {
  position: relative;
  top: 13px;
  left: 4px;
  font-weight: bold;
}
.ForecastInfo .MinTemp {
  position: relative;
  top: 13px;
  right: 5px;
  color: #5a6275;
}
.ForecastInfo {
  font-size: 21px;
}
