.DayForecast {
  border: 2px solid #7047a3;
  opacity: 1;
  border-radius: 3px;
  padding: 8px;
  margin-top: 40px;
}
.ForecastInfo img {
  height: 55px;
  width: 55px;
  margin: 0 10px;
  filter: drop-shadow(2px 2px 4px grey);
}
.ForecastInfo .Date {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #7047a3;
  margin: 2px;
}
.ForecastInfo .MaxTemp {
  margin: 7px;
  font-weight: bold;
}
.ForecastInfo .MinTemp {
  color: #5a6275;
}
.ForecastInfo {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
