.HourlyForecast {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #474748;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.HourlyForecast img {
  height: 45px;
  width: 45px;
  position: relative;
  left: -5px;
  filter: drop-shadow(2px 2px 4px grey);
}
