.Search .form-control {
  border: 1px solid #7047a3;
  opacity: 1;
}
.City h1 {
  color: #7047a3;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.City h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 10px;
  margin-bottom: 30px;
}
