.Weather {
  font-family: "Roboto", sans-serif;
}
.Weather .WeatherAppWrapper {
  max-width: 500px;
  margin: 100px auto;
}
.Weather .WeatherApp {
  padding: 20px;
  border: 2px solid #7047a3;
  opacity: 1;
  border-radius: 3px;
  background: #c8f0f0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
  font-weight: 400;
  line-height: 25px;
}
.Weather hr {
  margin: 10px;
  padding: 0;
  border: 1px solid #7047a3;
  opacity: 1;
  background: #fff;
}
.Search .form-control {
  border: 1px solid #7047a3;
  opacity: 1;
}
.City h1 {
  color: #7047a3;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.City h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 10px;
  margin-bottom: 30px;
}
.CurrentWeather img {
  margin-left: 10px;
  margin-right: 30px;
  float: left;
  height: 70px;
  width: 70px;
  filter: drop-shadow(2px 2px 4px grey);
}

.CurrentWeather {
  font-size: 50px;
  margin: 1px;
  line-height: 1.5;
  font-weight: 500;
}

.CurrentWeather .Units {
  position: relative;
  font-size: 17px;
  top: -30px;
}

.CurrentWeather a {
  text-decoration: none;
}

.WeatherDescription {
  font-weight: bold;
  text-align: center;
}
.AdditionalWeather {
  padding: 12px;
  text-align: left;
  color: #474748;
  font-size: 18px;
}
